#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "twentycrm"
name = "TwentyCRM"
description.en = "Open-source CRM with a modern, collaborative workspace"
description.fr = "CRM open source avec un espace collaboratif moderne"

version = "1.14.0~ynh1"

maintainers = ["you"]

[upstream]
license = "AGPL-3.0-only"
website = "https://twenty.com"
userdoc = "https://docs.twenty.com"
code = "https://github.com/twentyhq/twenty"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = true
ldap = false
sso = false

disk = "2G"
ram.build = "200M"
ram.runtime = "1G"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = "docker.io, docker-compose"
